
  <mat-card class="shadow">
    <img mat-card-image class="!h-52"
    src="https://rukminim2.flixcart.com/image/612/612/xif0q/sunglass/i/h/t/blue-black-way-polarized-medium-rich-club-original-imagrfgyzx6ybff9.jpeg?q=70" alt="Photo of a Specks">
<div class="p-4">
  <h1>Product Name/title  :</h1><span>COOLING GLASS </span>
  <h2>Product Brand:</h2><span>HYUI</span>
  <div class="flex gap-2">
    <span style="color:rgb(6, 114, 6)">
Rs.1000
    </span>
    <span style="color:red">
<s>Rs.2000</s>
    </span>
    <span style="color:rgb(0, 4, 255)">
(50%)OFF
    </span>
  </div>
</div>
  </mat-card>

