<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Employee Management Portal</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="sidenavOpened">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
      </a>
      <a mat-list-item routerLink="/employees" routerLinkActive="active">
        <mat-icon matListItemIcon>people</mat-icon>
        <span matListItemTitle>Employees</span>
      </a>
      <a mat-list-item routerLink="/calculator" routerLinkActive="active">
        <mat-icon matListItemIcon>calculate</mat-icon>
        <span matListItemTitle>Calculator</span>
      </a>
      <a mat-list-item routerLink="/input-output-demo" routerLinkActive="active">
        <mat-icon matListItemIcon>swap_horiz</mat-icon>
        <span matListItemTitle>Input / Output Demo</span>
      </a>
      <a mat-list-item routerLink="/lifecycle-hooks-demo" routerLinkActive="active">
        <mat-icon matListItemIcon>autorenew</mat-icon>
        <span matListItemTitle>Lifecycle Hooks Demo</span>
      </a>
      <a mat-list-item routerLink="/simple-example" routerLinkActive="active">
        <mat-icon matListItemIcon>school</mat-icon>
        <span matListItemTitle>Simple Example</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
