<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Employee Management Portal</span>
  <span class="example-spacer"></span>
  <a class="top-profile-link" routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    <span>{{ topProfileText$ | async }}</span>
  </a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="sidenavOpened">
    <div class="sidenav-layout">
      <mat-nav-list class="main-nav-list">
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon matListItemIcon>home</mat-icon>
          <span matListItemTitle>Home</span>
        </a>
        <a mat-list-item routerLink="/employees" routerLinkActive="active">
          <mat-icon matListItemIcon>people</mat-icon>
          <span matListItemTitle>Employees</span>
        </a>
        <a mat-list-item routerLink="/calculator" routerLinkActive="active">
          <mat-icon matListItemIcon>calculate</mat-icon>
          <span matListItemTitle>Calculator</span>
        </a>
        <a mat-list-item routerLink="/form-table-demo" routerLinkActive="active">
          <mat-icon matListItemIcon>table_view</mat-icon>
          <span matListItemTitle>Form Table</span>
        </a>
        <a mat-list-item routerLink="/component-communication-demo" routerLinkActive="active">
          <mat-icon matListItemIcon>hub</mat-icon>
          <span matListItemTitle>Communication</span>
        </a>
      </mat-nav-list>

      <mat-nav-list class="bottom-nav-list">
        <a mat-list-item routerLink="/profile" routerLinkActive="active">
          <mat-icon matListItemIcon>account_circle</mat-icon>
          <span matListItemTitle>Profile</span>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
